div {
	border: 2px black;
	margin: 5px;

}


.green {
	height: 20%;
	width: 90%;
	background-color: green;
	margin-top: 10px;
}
.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}