* {
	margin: 0px;
}
div {
	margin-left: 45%;
}
section {
	background-color: antiquewhite;
	padding: 10px;
	width: 250px;
}
#input_txt {
	height: 30px;
	width: 200px;
	font-weight: bolder;
}
#add_txt {
	height: 30px;
	background-color: green;
	border: none;
	color: white;
}
ul {
	list-style-type: none;
	padding: 0px;
	width: 240px;
}
li {
	width: 100%;
	background-color: pink;
	color: purple;
	padding: 10px 15px;
	border-top: 1px solid black;
}
